# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
datetime_col = []
for date in df['date']:
    d = date.split('-')
    new_d = dt(int(d[0]),int(d[1]),int(d[2]))
    datetime_col.append(new_d)
datetime_col[:5]

[datetime.datetime(2010, 1, 1, 0, 0),
 datetime.datetime(2010, 1, 2, 0, 0),
 datetime.datetime(2010, 1, 3, 0, 0),
 datetime.datetime(2010, 1, 4, 0, 0),
 datetime.datetime(2010, 1, 6, 0, 0)]

In [18]:
# Set the date column as the DataFrame index and drop date column
df['datetime'] = datetime_col
ndf = pd.DataFrame({'Station':list(df['station']),'Rain':list(df['prcp']),'Tobs':list(df['tobs'])}, index = datetime_col)
ndf.head()

                Station  Rain  Tobs
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [19]:
from scipy import stats

In [58]:
# Filter data for desired months
jun_dates = [datetime_col.index(day) for day in datetime_col if day.month == 6]
dec_dates = [datetime_col.index(day) for day in datetime_col if day.month == 12]
jun_df = ndf.iloc[jun_dates]
dec_df = ndf.iloc[dec_dates]

In [64]:
# Identify the average temperature for June and December
jun_avg_temp = jun_df['Tobs'].mean()
dec_avg_temp = dec_df['Tobs'].mean()
print(f'Average Temperature for June is {round(jun_avg_temp,2)}')
print(f'Average Temperature for December is {round(dec_avg_temp,2)}')

Average Temperature for June is 77.47
Average Temperature for December is 71.11

In [69]:
# Run paired t-test
jun_temp = jun_df['Tobs']
dec_temp = dec_df['Tobs']
# use unpaired as both have different lengths and numbers of observations. June 16th temperature will have no effect on December 16th temperature
# so the two are likely unpaired

statistic, pval = stats.ttest_ind(jun_temp,dec_temp)
print(f'Statistic is {statistic} and p-value is {pval}.')

Statistic is 65.4284793655343 and p-value is 0.0.

### Analysis